#footer
{
display: flex;
justify-items: center;

position: absolute;
bottom: 0;

font-family: sans-serif;
}

img
{
    width: 40px;
    height: 40px;
    padding-left: 1vw;
    padding-right: 0.2vw;
}