#main
{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

a
{
    text-decoration: none;
}

h3
{
    font-family:'FonteH';
}

#foto
{
    margin: 1vw;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-image:url(imagens/minha\ imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#Sobre
{
    width: 500px;

}

#botoes
{
    display: flex;
}


.circulo
{
    margin: 1vw;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    transition: all 0.5s;
    user-select: none;  
    cursor: pointer;
    font-size: 15px;
    font-family:'FonteH' ;
}
.circulo:hover
{
    box-shadow:3px 6px 3px rgba(0, 0, 0, 0.305);
    font-size: 20px;
}

#Curriculo 
{
    background-color: #1a1e29 ;
}

#Projetos
{
    background-color: #132d46;
}

#Contatos
{
    background-color: #01c38e;
}

